include LICENSE
include README.md
include example.py
include refresh_all_data.py
recursive-include docs *.md *.png *.jpg
recursive-include tests *.py
recursive-include src/rustmap/data *.json
recursive-include src/rustmap/data/tunnel_tiles *.json *.png
